%h2.offset1 Edit User

= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  .div.offset2
    = devise_error_messages!

  .row.span6
    .div.offset2
      =f.label :first_name
      =f.text_field :first_name

      =f.label :last_name
      =f.text_field :last_name

      =f.label :email
      =f.email_field :email

      =f.label :current_password
      =f.password_field :current_password

      =f.label :avatar
      =f.file_field :avatar

  .row.span6
    =f.label :city
    =f.text_field :city

    =f.label :state
    =f.select(:state, options_for_select(states))

    =f.label :zip
    =f.text_field :zip

    .div.offset2
      =f.submit("Finish", class: "btn btn-primary")
