%h2.offset1 Sign up
=form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .div.offset2
    = devise_error_messages!

  .row.span6
    .div.offset2
      =f.label :first_name
      =f.text_field :first_name

      =f.label :last_name
      =f.text_field :last_name

      =f.label :email
      =f.email_field :email

      =f.label :password
      =f.password_field :password

      =f.label :password_confirmation
      =f.password_field :password_confirmation
      =f.label :avatar
      =f.file_field :avatar

  .row.span6

    =f.label :city
    =f.text_field :city

    =f.label :state
    =f.select(:state, options_for_select(states))

    =f.label :zip
    =f.text_field :zip

  .div.offset2
    =f.submit("Sign up", class: "btn btn-primary")
