%h2 Your Listings
.row
  .div.span12
    %a.btn#add-listing-btn{href: new_listings_path} Add Listing

-@listings.each do |listing|
  .row
    .div.well.span12
      %dl.dl-horizontal
        %dt Title: 
        %dd= listing.title
        %dt Description:
        %dd= listing.description




