%h2 Your Listings
.row
  .div.span12
    %a.btn.extrabottom#add-listing-btn{href: new_listings_path} Add Listing

-@listings.each do |listing|
  .row
    .div.well.span10.list
      %dl.dl-horizontal{id: "listing_#{listing.id}"}
        %dt Title: 
        %dd= listing.title
        %dt Description:
        %dd= listing.description
