.offset1
  %h2 Profile
  .offset1
    .row.span3
      =image_tag(@user.avatar.url(:medium), class: "img-polaroid")
    .row.span9
      .div
        %label.span2 First Name:
        %p=@user.first_name
      .div
        %label.span2 Last Name:
        %p=@user.last_name
      .div
        %label.span2 Email:
        %p=@user.email

    .row.span2.offset4.extratop
      %a.btn{href: edit_user_registration_path(current_user.id)} Edit Profile 
