.well.span7.center.floatnone.extratop.offset2
  %h2.extrabottom.offset1 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
    .control-group.offset2
      %label{:for => "email"} Email 
      = f.email_field :email
    .control-group.offset2
      %label{:for => "password"} Password
      = f.password_field :password
    .control-group.offset2
      %label.checkbox
        = f.check_box :remember_me
        Remember me
    .row
      %button.btn.btn-primary.span2.offset3{:type => "submit"} Sign in
    .div.offset2.extratop
      =render "devise/shared/links"
