// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.extrabottom {
  margin-bottom: 10px
}

.add_listing_img {
  height: 32px;
  width: 32px;
}

.edit-btn {
  display: block;
}

.delete-btn {
  display: block;
}

.listing-checkbox {
  display: flex-box;
  background: gray;
}

.listing-checkbox:hover {
  display: flex-box;
  background: green;
}

.listing-checkbox:active {
  display: flex-box;
  background: green;
}
