// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Special+Elite);
@import url(http://fonts.googleapis.com/css?family=Economica:400,700);

.navbar {
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  color: #1d7c84;
} 

body {
  background-image:url("/assets/fabric_plaid.png");
}

h2, h3 {
  color: #1d7c84;
  font-family: 'Economica', sans-serif;
}

p, label, select, button, .list, .btn {
  font-family: 'Economica', sans-serif;
  font-size: 20px;
}

.extrabottom {
  margin-bottom: 10px
}

.dropdowntext {
  font-size: 10px
}

.extraextrabottom {
  margin-bottom: 25px
}

.add_listing_img {
  height: 32px;
  width: 32px;
}

.edit-btn {
  display: block;
}

.delete-btn {
  display: block;
}

.listing-checkbox {
  display: flex-box;
  background: #b3b3b3;
}

.listing-checkbox:hover {
  display: flex-box;
  background: #1d7c84;
}

.listing-checkbox:active {
  display: flex-box;
  background: #1d7c70;
}

.img-polaroid {
  height: 200px;
  width: 200px;
}

.ldb_logo {
  height: 150px;
  width: 350px;
}
