// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  margin-left: 40px
}

.extrabottom {
  margin-bottom: 10px
}

.dropdowntext {
  font-size: 10px
}

.extraextrabottom {
  margin-bottom: 25px
}

.add_listing_img {
  height: 32px;
  width: 32px;
}

.edit-btn {
  display: block;
}

.delete-btn {
  display: block;
}

.listing-checkbox {
  display: flex-box;
  background: gray;
}

.listing-checkbox:hover {
  display: flex-box;
  background: green;
}

.listing-checkbox:active {
  display: flex-box;
  background: green;
}

.img-polaroid {
  height: 200px;
  width: 200px;
}

.ldb_logo {
  height: 150px;
  width: 350px;
}
